<div class="file-metadata-inner">
    <div class="file-metadata-header">
        <h1>File Metadata</h1>
        <mat-divider></mat-divider>
    </div>
    <div class="file-metadata-entries-scroll-container">
        <div class="file-metadata-entries">

            <app-editable-metadata-entry attributeName="Name" [value]="file.name ?? ''" (valueChangeEvent)="this.saveFileName($event)"></app-editable-metadata-entry>
            <app-metadata-entry attributeName="Hash">{{file.hash}}</app-metadata-entry>
            <app-metadata-entry attributeName="Mime Type">{{file.mime_type ?? 'unknown'}}</app-metadata-entry>
            <app-metadata-entry attributeName="Imported at">{{file.import_time.toLocaleString()}}</app-metadata-entry>
            <app-metadata-entry attributeName="Created at">{{file.creation_time.toLocaleString()}}</app-metadata-entry>
            <app-metadata-entry attributeName="Changed at">{{file.change_time.toLocaleString()}}</app-metadata-entry>

        </div>
    </div>
</div>
