<div class="file-metadata-inner">
    <div class="file-metadata-header">
        <h1>File Metadata</h1>
        <mat-divider></mat-divider>
    </div>
    <app-busy-indicator [blurBackground]="true" [busy]="this.loading" [darkenBackground]="false">
        <div class="file-metadata-entries-scroll-container">
            <div class="file-metadata-entries">
                <app-editable-metadata-entry (valueChangeEvent)="this.saveFileName($event)"
                                             *ngIf="fileMetadata"
                                             [value]="fileMetadata.name ?? ''"
                                             attributeName="Name"></app-editable-metadata-entry>
                <app-metadata-entry attributeName="Content Descriptor (CD)">{{file.cd}}</app-metadata-entry>
                <app-metadata-entry attributeName="Mime Type">{{file.mimeType}}</app-metadata-entry>
                <ng-container *ngIf="fileMetadata">
                    <app-metadata-entry
                        attributeName="Size">{{fileMetadata.size | formatBytes}}</app-metadata-entry>
                    <app-metadata-entry
                        attributeName="Imported at">{{fileMetadata.import_time | date: 'dd.MM.yy HH:mm:ss' }}</app-metadata-entry>
                    <app-metadata-entry
                        attributeName="Created at">{{fileMetadata.creation_time | date: 'dd.MM.yy HH:mm:ss'}}</app-metadata-entry>
                    <app-metadata-entry
                        attributeName="Changed at">{{fileMetadata.change_time | date: 'dd.MM.yy HH:mm:ss'}}</app-metadata-entry>
                </ng-container>
            </div>
        </div>
    </app-busy-indicator>
</div>
