.metadata-entry-inner {
    width: 100%;
    display: flex;

    &.display-line {
        display: flex;
        flex-direction: row;

        .metadata-attribute, .metadata-value {
            width: 50%;
        }

        .metadata-attribute {
            text-align: right;
        }

        .metadata-value {
            text-align: left;
        }
    }

    &.display-multiline {
        flex-direction: column;
    }
}


.metadata-attribute {
    opacity: 0.8;
    text-overflow: ellipsis;
    user-select: text;
}

.metadata-value {
    margin-left: 0.5em;
    word-break: break-all;
    user-select: text;
}

