<app-file-grid (fileDelete)="this.onFileDelete($event)"
               (fileOpen)="this.onFileOpen($event)"
               (fileSelect)="this.onFileSelect($event)"
               *ngIf="this.mode === 'grid'"
               [files]="this.files"
               [preselectedFile]="this.preselectedFile"></app-file-grid>
<app-file-gallery (appClose)="this.setMode('grid')" (fileDelete)="this.onFileDelete([$event])"
                  (fileSelect)="this.onSingleFileSelect($event)"
                  *ngIf="this.mode === 'gallery'"
                  [files]="this.files"
                  [preselectedFile]="this.preselectedFile"></app-file-gallery>
