<div class="file-edit-inner" fxLayout="column">
  <div class="file-metadata" fxFlex="150px">
    <h1>Edit File</h1>
    <mat-form-field *ngIf="this.files.length === 1" appearance="fill">
      <mat-label>Name</mat-label>
      <input #fileNameInput matInput (focusout)="this.changeFileName(fileNameInput.value)">
    </mat-form-field>
  </div>
  <div class="tag-edit-list" fxFlex fxFlexFill fxFlexAlign="start">
    <cdk-virtual-scroll-viewport #tagScroll itemSize="50" maxBufferPx="2000" minBufferPx="1000">
      <div class="editable-tag" *cdkVirtualFor="let tag of tags">
        <app-tag-item [tag]="tag"></app-tag-item>
        <button class="tag-remove-button" mat-icon-button (click)="removeTag(tag)">
          <ng-icon name="mat-remove"></ng-icon>
        </button>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <mat-divider fxFlex="1em"></mat-divider>
  <div class="tag-input" fxFlex="200px">
    <div class="tag-input-field">
      <app-tag-input [availableTags]="this.allTags" [allowInvalid]="true" (tagAdded)="this.editTag($event)"></app-tag-input>
      <button mat-icon-button class="add-tag-button">
        <ng-icon *ngIf="editMode === 'Toggle'" name="mat-change-circle"></ng-icon>
        <ng-icon *ngIf="editMode === 'Add'" name="mat-add-circle"></ng-icon>
        <ng-icon *ngIf="editMode === 'Remove'" name="mat-remove-circle"></ng-icon>
      </button>
    </div>
    <mat-form-field class="form-field-mode" appearance="fill">
      <mat-label>Mode</mat-label>
      <mat-select #modeSelect [(value)]="editMode">
        <mat-option value="Toggle">Toggle</mat-option>
        <mat-option value="Add">Add</mat-option>
        <mat-option value="Remove">Remove</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
