mat-tab-group, mat-tab, .file-tag-list, app-tag-edit, app-file-search, app-file-metadata {
    height: 100%;
    width: 100%;
}

.sidebar-inner {
    height: 100%;
    width: 100%;
    display: block;
}
