# compiled output
/dist
/tmp
/out-tsc
/target
/out

# IDEs and editors
mediarepo-api/.idea
mediarepo-daemon/.idea
mediarepo-ui/.idea
.idae
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

# other
*.zip
.vscode
