<div class="file-select-inner" fxLayout="row">

  <mat-form-field appearance="fill">
    <mat-label>{{label}}</mat-label>
    <input #filesInput matInput [value]="files.join(', ')" (change)="this.setFiles(filesInput.value)" class="file-input">

    <div class="buttons-native-select">
      <button *ngIf="mode === 'files'" (click)="openNativeFileSelectDialog(false)" mat-button>
        <mat-icon>insert_drive_file</mat-icon>
      </button>
      <button *ngIf="mode === 'folders'" (click)="openNativeFileSelectDialog(true)" mat-button>
        <mat-icon>folder</mat-icon>
      </button>
    </div>

  </mat-form-field>
</div>
