<h1 mat-dialog-title>Filters</h1>
<div class="filter-dialog-content" mat-dialog-content>
    <div class="filter-dialog-list">
        <mat-list class="mat-filter-dialog-list">
            <mat-list-item *ngFor="let entry of this.renderedFilterEntries" class="filter-list-item">
                <app-filter-expression-list-item (appSelect)="this.entrySelect(entry[0])"
                                                 (appUnselect)="this.entryUnselect(entry[0])"
                                                 (contextmenu)="contextMenu.onContextMenu($event)"
                                                 (entrySelect)="this.entrySelect(entry[0], $event[0])"
                                                 (entryUnselect)="this.entryUnselect(entry[0], $event[0])"
                                                 [filter]="entry[1]"
                ></app-filter-expression-list-item>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-divider></mat-divider>
    <app-filter-input (filterAdded)="this.addFilter($event)"
                      [availableTags]="this.availableTags"
                      class="filter-input"></app-filter-input>
</div>
<div class="dialog-actions" mat-dialog-actions>
    <button (click)="confirmFilter()" color="primary" mat-flat-button>Filter</button>
    <button (click)="cancelFilter()" color="accent" mat-stroked-button>Cancel</button>
</div>
<app-context-menu #contextMenu>
    <button (click)="this.removeSelectedFilters()" mat-menu-item>Remove</button>
    <button (click)="this.createAndFromSelection(true)" mat-menu-item>Convert selection to AND</button>
    <button (click)="this.createOrFromSelection(true)" mat-menu-item>Convert selection to OR</button>
    <button (click)="this.createOrFromSelection(false)" mat-menu-item>Copy selection to OR</button>
    <button (click)="this.createAndFromSelection(false)" mat-menu-item>Copy selection to AND</button>
</app-context-menu>
