<app-drawer-page>
    <app-drawer-page-side>
        <app-import-tab-sidebar
            [selectedFiles]="selectedFiles"
            [state]="this.state"></app-import-tab-sidebar>
    </app-drawer-page-side>
    <app-drawer-page-content>
        <app-file-multiview (fileSelectEvent)="this.onFileSelect($event)"
                            (modeChangeEvent)="this.state.mode.next($event)"
                            [files]="this.files"
                            [mode]="this.state.mode.value"
                            [preselectedFile]="this.getSelectedFileFromState()"></app-file-multiview>
    </app-drawer-page-content>
</app-drawer-page>
