<div *ngIf="!selectedRepository" class="repo-page-content">
    <div class="add-repo-tools">
        <button (click)="openAddRepositoryDialog()" color="primary" mat-flat-button>Add Repository</button>
    </div>
    <div class="repository-list">
        <div *ngFor="let repository of repositories" class="repository-container">
            <app-repository-card (openEvent)="this.onOpenRepository($event)"
                                 [repository]="repository"></app-repository-card>
        </div>
    </div>
</div>
<div *ngIf="selectedRepository" class="repo-details">
    <app-repository-details-view [repository]="selectedRepository"></app-repository-details-view>
</div>
