<div *ngIf="expression.data.filter_type === 'Query'" (click)="onSelect()">
  {{expression.data.getDisplayName()}}
  <button mat-button class="remove-button" (click)="this.removeClicked.emit(this)">
        <mat-icon>remove</mat-icon>
      </button>
</div>
<div *ngIf="expression.data.filter_type === 'OrExpression'">
  <mat-list>
    <mat-list-item class="or-filter-list-item" *ngFor="let entry of enumerate(this.expression.data.queryList())"
                   (mousedown)="$event.button === 0 && this.selectInnerIndex(entry[0])" [class.selected]="this.selectedIndices.includes(entry[0])">
      <span class="or-span" *ngIf="entry[0] > 0">OR</span>
      {{entry[1].getNormalizedTag()}}
      <button mat-button class="remove-button-inner-list" (mousedown)="$event.button === 0 && this.removeOrExpression(entry[0])">
        <mat-icon>remove</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
