.remove-button, .remove-button-inner-list {
  position: absolute;
  right: 0;
  z-index: 999;
  top: calc(0.5em - 15px);
}

.remove-button {
  right: 16px;
}

mat-list {
  height: 100%;
  width: 100%;
  display: block;
  background-color: #353535;
  padding: 0;
  border-radius: 0.25em;
}

mat-list-item.or-filter-list-item {
  padding: 0.5em 0;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
  user-select: none;

  ::ng-deep .mat-list-item-content {
    padding-right: 0;
    margin-right: 0;
  }
}

.or-span {
  margin-right: 0.5em;
}

.selected {
  background-color: #5c5c5c;
}
