mat-selection-list {
    height: 100%;
}

app-file-multiview {
    padding: 0;
    height: 100%;
    width: 100%;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    overflow: hidden;
    display: flex;
    backdrop-filter: blur(5px);

    mat-progress-spinner {
        z-index: 999;
        margin: auto;
    }
}

.import-prompt {
    button {
        font-size: 1.5em;
        padding: 0.5em 1em;
        border-radius: 0.5em;
    }
}
