<app-drawer-page (keyDownEvent)="this.onKeydown($event)" appInputReceiver>
    <app-drawer-page-side>
        <app-files-tab-sidebar (searchEndEvent)="this.contentLoading = false;"
                               (searchStartEvent)="this.contentLoading = true;"
                               [selectedFiles]="this.selectedFiles"
                               [state]="this.state"></app-files-tab-sidebar>
    </app-drawer-page-side>
    <app-drawer-page-content>
        <app-busy-indicator [blurBackground]="true" [busy]="contentLoading" [darkenBackground]="true">
            <app-file-multiview (fileSelectEvent)="this.onFileSelect($event)"
                                (modeChangeEvent)="state.mode.next($event)"
                                [files]="this.files"
                                [mode]="state.mode.value"
                                [preselectedFile]="this.getStateSelectedFile()"
                                [tabState]="this.state"></app-file-multiview>
        </app-busy-indicator>
    </app-drawer-page-content>
</app-drawer-page>
