<mat-drawer-container autosize>
    <mat-drawer [opened]="this.drawerOpened" disableClose mode="side">
        <ng-content select="app-drawer-page-side"></ng-content>
    </mat-drawer>
    <mat-drawer-content>
        <ng-content select="app-drawer-page-content"></ng-content>

        <app-flap-button (click)="this.toggleDrawer()" align="start" attach="left">
            <ng-icon *ngIf="!this.drawerOpened" name="mat-chevron-right"></ng-icon>
            <ng-icon *ngIf="this.drawerOpened" name="mat-chevron-left"></ng-icon>
        </app-flap-button>
    </mat-drawer-content>
</mat-drawer-container>
