<div class="border-top-thin clearfix mt-2 mt-lg-4">
  <div class="container mx-auto px-2">
    <p class="col-8 sm-width-full left py-2 mb-0">This project is maintained by <a class="text-accent"
        href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></p>
    <ul class="list-reset right clearfix sm-width-full py-2 mb-2 mb-lg-0">
      <li class="inline-block">
        <a class="github-button" href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}"
          data-icon="octicon-star" data-count-href="{{ site.github_username }}/{{ github_repo }}/stargazers"
          data-count-api="/repos/{{ site.github_username }}/{{ github_repo }}#stargazers_count"
          data-count-aria-label="# stargazers on GitHub"
          aria-label="Star {{ site.github_username }}/{{ github_repo }} on GitHub">Star</a>
      </li>
    </ul>
  </div>
</div>