@import "src/colors";

:host {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.tag-item-wrapper {
    width: 100%;
    padding: 0.25em;
    text-overflow: ellipsis;
    word-break: keep-all;
    overflow: hidden;
    margin: auto;
}

.tag-item-namespace {
    margin-right: 0.25em;
    color: $tag-namespace
}
