<h1 mat-dialog-title>Filters</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item class="filter-list-item" *ngFor="let expression of filters">
      <app-tag-filter-list-item (removeClicked)="this.removeFilter($event)" [expression]="expression"></app-tag-filter-list-item>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <app-tag-input class="tag-input" [allowNegation]="true" [availableTags]="this.availableTags"
                 (tagAdded)="this.addFilter($event)"></app-tag-input>
</div>
<div class="dialog-actions" mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="confirmFilter()">Filter</button>
  <button mat-stroked-button color="accent" (click)="cancelFilter()">Cancel</button>
</div>
