mat-selection-list {
  height: 100%;
}

mat-drawer {
  height: 100%;
  width: 25%;
  overflow: hidden;
}

mat-drawer-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

app-file-grid {
  padding: 0;
}

app-file-gallery, app-files-tab-sidebar {
  padding: 0;
  height: 100%;
  width: 100%;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  overflow: hidden;
  display: flex;
  backdrop-filter: blur(5px);

  mat-progress-spinner {
    z-index: 999;
    margin: auto;
  }
}
