// Default black theme

// Color variables
$black-alt:  rgb(25, 0, 49);
$magenta: #ff00f2;
$magenta-small: rgb(236, 0, 205);
$white: rgb(255, 255, 255);
$white-text:  rgb(238, 238, 238);
$code: #ffc3ef;

// Config
$color-background: $black-alt!default;
$color-dot-accent: $magenta !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $white !default;
$color-text-accent: $magenta !default;
$color-code: $code !default;
$color-nav-link: $magenta !default;
$color-primary-link: $magenta !default;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
