<div class="metadata-inner">
    <app-metadata-entry *ngIf="mode === 'read'" [attributeName]="attributeName">{{value}}</app-metadata-entry>
    <mat-form-field *ngIf="mode === 'write'">
        <mat-label>{{attributeName}}</mat-label>
        <input [formControl]="formControl" [value]="value.toString()" matInput type="text">
    </mat-form-field>
    <button (click)="this.onSave()" *ngIf="mode === 'write'" mat-button>
        <ng-icon name="mat-save"></ng-icon>
    </button>
    <button (click)="mode = 'write'" *ngIf="mode === 'read'" mat-button>
        <ng-icon name="mat-edit"></ng-icon>
    </button>
</div>

