<mat-card>
  <mat-card-title>{{repository.name}}</mat-card-title>
  <mat-card-content>
    <p class="repository-path" *ngIf="repository.path">{{repository.path!}}</p>
    <p class="repository-address" *ngIf="!repository.path">{{repository.address}}</p>
    <div *ngIf="daemonRunning" class="daemon-running-info">Running</div>
  </mat-card-content>
  <mat-action-list>
    <button *ngIf="!daemonRunning" mat-flat-button color="primary" (click)="startDaemonAndSelectRepository()">Open</button>
    <button *ngIf="daemonRunning" mat-flat-button color="primary" (click)="selectRepository()">Connect</button>
  </mat-action-list>
</mat-card>
