<mat-card>
  <mat-card-title>{{repository.name}}</mat-card-title>
  <div [class]="'repository-status ' + this.getDaemonStatusClass()">
    <p>{{this.getDaemonStatusText()}}</p>
  </div>
  <mat-card-content>
    <p *ngIf="repository.local" class="repository-path">{{repository.path!}}</p>
    <p *ngIf="!repository.local" class="repository-address">{{repository.address}}</p>
  </mat-card-content>
  <mat-action-list>
    <button (click)="startDaemonAndSelectRepository()" *ngIf="!this.isSelectedRepository() && repository.local" color="primary"
            mat-flat-button>Open
    </button>
    <button (click)="selectRepository()" *ngIf="!this.isSelectedRepository() && !repository.local" [disabled]="!this.daemonRunning"
            color="primary" mat-flat-button>Connect
    </button>
    <button (click)="this.repoService.closeSelectedRepository()" *ngIf="this.isSelectedRepository() && repository.local" color="primary"
            mat-flat-button>Close
    </button>
    <button (click)="this.repoService.disconnectSelectedRepository()" *ngIf="this.isSelectedRepository() && !repository.local" color="primary"
            mat-flat-button>Disconnect
    </button>
    <button [mat-menu-trigger-for]="menu" class="menu-button" mat-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="removeRepository()" *ngIf="repository.local" mat-menu-item>Delete</button>
      <button (click)="removeRepository()" *ngIf="!repository.local" mat-menu-item>Remove</button>
    </mat-menu>
  </mat-action-list>
</mat-card>
