<div class="gallery-container" fxLayout="column">
  <button mat-icon-button class="close-button" (click)="this.closeEvent.emit()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="file-full-view" fxFlex="80%"
       (dblclick)="this.selectedFile? this.fileDblClickEvent.emit(this.selectedFile.data) : null">
    <div class="file-full-view-inner">
      <div *ngIf="!this.fileContentUrl" class="url-loading-backdrop">
        <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
      </div>
      <img [src]="this.fileContentUrl" decoding="async" alt="Image"/>
    </div>
  </div>
  <mat-divider fxFlex></mat-divider>
  <div class="file-scroll-view" fxFlex="20%">
    <cdk-virtual-scroll-viewport #virtualScroll orientation="horizontal" itemSize="250" minBufferPx="1000"
                                 maxBufferPx="3000" class="file-scroll-viewport">
      <div *cdkVirtualFor="let entry of entries" class="file-item">
        <app-file-gallery-entry [file]="entry" (fileSelectEvent)="onEntrySelect($event)"></app-file-gallery-entry>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
