.file-scroll-viewport {
  width: 100%;
  height: 100%;
}

::ng-deep .file-scroll-viewport > .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gallery-container {
  height: 100%;
  width: 100%;
  position: relative;
}

app-file-gallery-entry, .file-item {
  width: 250px;
  height: calc(100% - 10px);
  padding: 5px;
}

app-file-gallery-entry {
  display: block;
}

.file-full-view {
  width: 100%;
  height: 100%;
}

.file-full-view-inner {
  height: 100%;
  width: 100%;
  display: block;
}

img {
  max-height: 100%;
  width: auto;
  display: block;
  margin: auto;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 3em;
}
