<div class="gallery-container" fxLayout="column">
  <button mat-icon-button class="close-button" (click)="this.closeEvent.emit(this)">
    <mat-icon>close</mat-icon>
  </button>
  <div class="file-full-view" fxFlex="80%"
       (dblclick)="this.selectedFile? this.fileDblClickEvent.emit(this.selectedFile.data) : null">
    <div (mouseenter)="this.mouseInImageView = true" (mouseleave)="this.mouseInImageView = false" class="file-full-view-inner">
      <div *ngIf="!this.fileContentUrl" class="url-loading-backdrop">
        <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
      </div>
      <div class="zoom-slider">
        <mat-slider min="0.5" max="4" [value]="this.imageZoom"
                    (input)="this.imageZoom=$event.value ?? 1" vertical step="0.1"></mat-slider>
        <button mat-icon-button (click)="this.resetImage()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <div #imageDragContainer [cdkDragFreeDragPosition]="this.imagePosition" (cdkDragMoved)="this.onDragMoved($event)" *ngIf="this.fileContentUrl" cdkDrag class="image-drag-container">
        <div #scaledImage class="image-scale-container" [style]="{scale: this.imageZoom}">
          <app-content-aware-image [imageSrc]="this.fileContentUrl"></app-content-aware-image>
        </div>
      </div>
    </div>
  </div>
  <mat-divider fxFlex></mat-divider>
  <div class="file-scroll-view" fxFlex="20%">
    <cdk-virtual-scroll-viewport #virtualScroll orientation="horizontal" itemSize="260" minBufferPx="1000"
                                 maxBufferPx="3000" class="file-scroll-viewport">
      <div *cdkVirtualFor="let entry of entries" class="file-item">
        <app-file-gallery-entry [file]="entry" (fileSelectEvent)="onEntrySelect($event)"></app-file-gallery-entry>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
