<div class="file-gallery-inner">
  <cdk-virtual-scroll-viewport #virtualScrollGrid class="file-scroll" itemSize="250" maxBufferPx="2000"
                               minBufferPx="500">
    <div *cdkVirtualFor="let rowEntry of partitionedGridEntries">
      <div class="file-row">
        <app-file-grid-entry
          *ngFor="let gridEntry of rowEntry" (clickEvent)="setSelectedFile($event.gridEntry)"
          (dblClickEvent)="fileOpenEvent.emit($event.gridEntry.file)"
          (contextmenu)="fileContextMenu.onContextMenu($event, gridEntry.file)"
          [gridEntry]="gridEntry"></app-file-grid-entry>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

</div>
<app-file-context-menu #fileContextMenu>
  <button mat-menu-item (click)="this.regenerateThumbnail(fileContextMenu.file)">Regenerate thumbnail</button>
</app-file-context-menu>
