@use 'sass:map';
@use '../../../../../node_modules/@angular/material/index' as mat;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $primary-palette: map.get($color-config, 'primary');
    $warn-palette: map.get($color-config, 'warn');

    .tag-input-item {
        background-color: dimgrey;
        border-radius: 1em;
    }

    mat-form-field:focus {
        background-color: dimgrey;
    }

    #sort-button {
        background-color: darken(dimgrey, 5);
    }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
        @include typography($theme);
    }
}
