@import "src/colors";

:host {
    display: block;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.file-card-inner {
    background-color: $background-lighter-05;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    position: relative;

    &.selected {
        background-color: $primary-darker-10;
    }
}

.entry-image {
    margin: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    display: flex;
}

.loading-indicator {
    display: block;
    background-color: $primary;
    animation-name: pulse;
    animation-duration: 3s;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    2% {
        border-radius: 1em;
        width: 2em;
        height: 2em;
    }

    48% {
        border-radius: 2em;
        width: 4em;
        height: 4em;
    }

    52% {
        border-radius: 2em;
        width: 4em;
        height: 4em;
    }

    98% {
        border-radius: 1em;
        width: 2em;
        height: 2em;
    }
}

.hidden {
    display: none;
}
