@import "src/colors";

:host {
    display: block;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.file-card-inner {
    background-color: $background-lighter-05;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    position: relative;

    &.selected {
        background-color: $primary-darker-10;
    }
}

.entry-image {
    margin: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    display: flex;
}


.hidden {
    display: none;
}
