<app-content-aware-image borderRadius="0.25em" *ngIf="this.getThumbnailSupported() && this.thumbUrl"
                         [imageSrc]="this.thumbUrl"></app-content-aware-image>
<div class="file-icon-overlay" *ngIf="this.getThumbnailSupported() && this.thumbUrl">
  <ng-icon *ngIf="getFileType() === 'video'" name="mat-movie"></ng-icon>
  <ng-icon *ngIf="this.file.mime_type === 'image/gif'" class="gif-icon" name="mat-gif"></ng-icon>
</div>
<div class="file-type-icon" *ngIf="!this.getThumbnailSupported() || !this.thumbUrl">
  <ng-icon *ngIf="getFileType() === 'image'" name="mat-image"></ng-icon>
  <ng-icon *ngIf="getFileType() === 'video'" name="mat-movie"></ng-icon>
  <ng-icon *ngIf="getFileType() === 'audio'" name="mat-audiotrack"></ng-icon>
  <ng-icon *ngIf="getFileType() === 'text'" name="mat-description"></ng-icon>
</div>
