@import "src/colors";


.sort-key-direction {
    font-size: 1.5em;
    vertical-align: bottom;
    margin-bottom: 0.6em;
}

.sort-key-type {
    color: $primary-lighter-50
}

.sort-key-namespace {
    color: $accent-lighter-10;
}

.sort-key:last-child .key-divider {
    display: none;
}
