<app-content-aware-image (appLoadEnd)="this.loadEnd.emit()" (appLoadError)="this.onImageLoadError()"
                         *ngIf="this.thumbnailSupported && this.thumbUrl"
                         [imageSrc]="this.thumbUrl"
                         [maxRetry]="10" [retryDelay]="100"
                         borderRadius="0.25em"></app-content-aware-image>
<div *ngIf="this.thumbnailSupported && this.thumbUrl" class="file-icon-overlay">
    <ng-icon *ngIf="fileType === 'video'" name="mat-movie"></ng-icon>
    <ng-icon *ngIf="this.file.mimeType === 'image/gif'" class="gif-icon" name="mat-gif"></ng-icon>
</div>
<div *ngIf="!this.thumbnailSupported || !this.thumbUrl" class="file-type-icon">
    <ng-icon *ngIf="fileType === 'image'" name="mat-image"></ng-icon>
    <ng-icon *ngIf="fileType === 'video'" name="mat-movie"></ng-icon>
    <ng-icon *ngIf="fileType === 'audio'" name="mat-audiotrack"></ng-icon>
    <ng-icon *ngIf="fileType === 'text'" name="mat-description"></ng-icon>
</div>
<div *ngIf="(file.status | async) !== 'Archived'" class="file-status-icon">
    <ng-icon *ngIf="(file.status | async) === 'Deleted'" name="mat-auto-delete"></ng-icon>
    <ng-icon *ngIf="(file.status | async) === 'Imported'" name="mat-fiber-new"></ng-icon>
</div>
