<app-context-menu #contextMenu>
    <ng-content select="[content-before]"></ng-content>
    <ng-container *ngIf="this.files">
        <button (click)="this.updateStatus(this.files, 'Archived')" *ngIf="actionArchive" mat-menu-item>Archive
        </button>
        <button (click)="this.updateStatus(this.files, 'Imported')" *ngIf="actionImported" mat-menu-item>Back to
            imported
        </button>
        <button (click)="this.updateStatus(this.files, 'Deleted')"
                *ngIf="actionDelete"
                mat-menu-item>Delete
        </button>
        <button (click)="this.deletePermanently(this.files)" *ngIf="actionDeletePermantently" mat-menu-item>Delete
            permanently
        </button>
        <button (click)="this.updateStatus(this.files, 'Archived')" *ngIf="actionRestore" mat-menu-item>Restore</button>

        <!-- everything that only applies to a single file -->
        <ng-container>
            <button (click)="this.copyFileContentDescriptor(this.files[0])" mat-menu-item>Copy Content Descriptor
            </button>
            <button (click)="this.exportFile(this.files[0])" mat-menu-item>Save As...</button>
        </ng-container>
    </ng-container>
    <ng-content></ng-content>
</app-context-menu>
