<h1 mat-dialog-title>
    Sort Entries
</h1>
<div mat-dialog-content>
    <mat-form-field *ngIf="this.availablePresets.length > 0" class="preset-selection">
        <mat-label>Preset</mat-label>
        <mat-select (selectionChange)="this.selectPreset($event.value)" [value]="this.previousId">
            <mat-option [value]="-1"></mat-option>
            <mat-option *ngFor="let preset of this.availablePresets"
                        [matTooltipShowDelay]="1000"
                        [matTooltip]="preset.toString()"
                        [value]="preset.id">
                {{preset.toString()}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div (cdkDropListDropped)="this.onSortEntryDrop($event)" cdkDropList class="sort-input-list">
        <div *ngFor="let sortKey of sortingPreset.sortKeys" cdkDrag class="sort-input-row">
            <div *cdkDragPlaceholder class="drag-placeholder"></div>
            <div cdkDragHandle class="drag-handle">
                <ng-icon name="mat-drag-handle"></ng-icon>
            </div>
            <mat-form-field>
                <mat-label>Key</mat-label>
                <mat-select [(value)]="sortKey.sortType" required>
                    <mat-option value="Namespace">Namespace</mat-option>
                    <mat-option value="FileName">File Name</mat-option>
                    <mat-option value="FileSize">File Size</mat-option>
                    <mat-option value="FileImportedTime">Time Imported</mat-option>
                    <mat-option value="FileCreatedTime">Time Created</mat-option>
                    <mat-option value="FileChangeTime">Time Changed</mat-option>
                    <mat-option value="FileType">File Type</mat-option>
                    <mat-option value="NumTags">Number of Tags</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="sortKey.sortType === 'Namespace'">
                <mat-label>Namespace Name</mat-label>
                <input #namespaceInput
                       (change)="this.handlePresetChange(); sortKey.namespaceName = namespaceInput.value"
                       (focus)="this.updateAutocompleteSuggestions(namespaceInput.value)"
                       (keyup)="this.updateAutocompleteSuggestions(namespaceInput.value)"
                       [matAutocomplete]="namespaceAutocomplete"
                       [value]="sortKey.namespaceName ?? ''"
                       matInput
                       required>
                <mat-autocomplete #namespaceAutocomplete
                                  (optionSelected)="this.handlePresetChange(); sortKey.namespaceName = $event.option.value">
                    <mat-option *ngFor="let namespace of suggestedNamespaces" [value]="namespace.name">
                        {{namespace.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="sortKey.sortType !== 'Namespace'" class="filler"></div>
            <mat-form-field>
                <mat-label>Direction</mat-label>
                <mat-select (selectionChange)="this.handlePresetChange()" [(value)]="sortKey.sortDirection" required>
                    <mat-option value="Ascending">Ascending</mat-option>
                    <mat-option value="Descending">Descending</mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="addNewSortKey()"
                    *ngIf="sortingPreset.sortKeys.indexOf(sortKey) === sortingPreset.sortKeys.length - 1"
                    mat-flat-button>
                <ng-icon name="mat-add"></ng-icon>
            </button>
            <button (click)="removeSortKey(sortKey)"
                    *ngIf="sortingPreset.sortKeys.indexOf(sortKey) !== sortingPreset.sortKeys.length -1"
                    mat-flat-button>
                <ng-icon name="mat-remove"></ng-icon>
            </button>
        </div>
    </div>
</div>
<div class="dialog-actions" mat-dialog-actions>
    <button (click)="deletePreset()" *ngIf="this.previousId >= 0" class="button-left" color="warn" mat-stroked-button>
        Delete
    </button>
    <button (click)="saveNewPreset()"
            *ngIf="this.sortingPreset.sortKeys.length > 0"
            class="button-left"
            color="accent"
            mat-stroked-button>Save new
    </button>
    <button (click)="savePreset()"
            *ngIf="this.sortingPreset.sortKeys.length > 0 && this.previousId >= 0"
            class="button-left"
            color="accent"
            mat-flat-button>Save
    </button>

    <button (click)="cancelSort()" color="accent" mat-stroked-button>Cancel</button>
    <button (click)="confirmSort()" color="primary" mat-flat-button>Sort</button>
</div>
