<h1 mat-dialog-title>Sort Entries</h1>
<div mat-dialog-content>
    <div (cdkDropListDropped)="this.onSortEntryDrop($event)" cdkDropList class="sort-input-list">
        <div *ngFor="let sortKey of sortEntries" cdkDrag class="sort-input-row">
            <div *cdkDragPlaceholder class="drag-placeholder"></div>
            <div cdkDragHandle class="drag-handle">
                <ng-icon name="mat-drag-handle"></ng-icon>
            </div>
            <mat-form-field>
                <mat-label>Key</mat-label>
                <mat-select [(value)]="sortKey.sortType" required>
                    <mat-option value="Namespace">Namespace</mat-option>
                    <mat-option value="FileName">File Name</mat-option>
                    <mat-option value="FileSize">File Size</mat-option>
                    <mat-option value="FileImportedTime">Time Imported</mat-option>
                    <mat-option value="FileCreatedTime">Time Created</mat-option>
                    <mat-option value="FileChangeTime">Time Changed</mat-option>
                    <mat-option value="FileType">File Type</mat-option>
                    <mat-option value="NumTags">Number of Tags</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="sortKey.sortType === 'Namespace'">
                <mat-label>Namespace Name</mat-label>
                <input #namespaceInput (change)="sortKey.namespaceName = namespaceInput.value"
                       [matAutocomplete]="namespaceAutocomplete"
                       (keyup)="this.updateAutocompleteSuggestions(namespaceInput.value)"
                       (focus)="this.updateAutocompleteSuggestions(namespaceInput.value)"
                       [value]="sortKey.namespaceName ?? ''"
                       matInput
                       required>
                <mat-autocomplete #namespaceAutocomplete (optionSelected)="sortKey.namespaceName = $event.option.value">
                    <mat-option *ngFor="let namespace of suggestedNamespaces" [value]="namespace.name">
                        {{namespace.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="sortKey.sortType !== 'Namespace'" class="filler"></div>
            <mat-form-field>
                <mat-label>Direction</mat-label>
                <mat-select [(value)]="sortKey.sortDirection" required>
                    <mat-option value="Ascending">Ascending</mat-option>
                    <mat-option value="Descending">Descending</mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="addNewSortKey()" *ngIf="sortEntries.indexOf(sortKey) === sortEntries.length -1"
                    mat-flat-button>
                <ng-icon name="mat-add"></ng-icon>
            </button>
            <button (click)="removeSortKey(sortKey)" *ngIf="sortEntries.indexOf(sortKey) !== sortEntries.length -1"
                    mat-flat-button>
                <ng-icon name="mat-remove"></ng-icon>
            </button>
        </div>
    </div>
</div>
<div class="dialog-actions" mat-dialog-actions>
    <button (click)="confirmSort()" color="primary" mat-flat-button>Sort</button>
    <button (click)="cancelSort()" color="accent" mat-stroked-button>Cancel</button>
</div>
