app-content-aware-image {
  height: 100%;
  width: 100%;
}

.image-wrapper {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  align-items: center;
  text-align: center;
  background-color: darken(dimgrey, 15);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
