<span *ngIf="this.orExpression" class="or-expression">
    <mat-list>
        <mat-list-item *ngFor="let entry of this.orExpression"
                       [class.selected]="componentSelectable.selected"
                       class="or-filter-list-item">
            <span *ngIf="entry[0] > 0" class="or-combinator">OR&nbsp;</span>
            <app-selectable #componentSelectable
                            (appSelect)="this.entrySelect.emit(entry)"
                            (appUnselect)="this.entryUnselect.emit(entry)">
                <app-property-query-item *ngIf="entry[1] | hasProperty: 'Property'"
                                         [propertyQuery]="entry[1] | getPropertyQuery"></app-property-query-item>
                <app-tag-query-item *ngIf="entry[1] | hasProperty: 'Tag'"
                                    [tagQuery]="entry[1] | getTagQuery"></app-tag-query-item>
            </app-selectable>
        </mat-list-item>
    </mat-list>
</span>
<span *ngIf="this.query" [class.selected]="singleSelectable.selected" class="query">
    <app-selectable #singleSelectable
                    (appSelect)="this.appSelect.emit(this.query)"
                    (appUnselect)="this.appUnselect.emit(this.query)">
        <app-property-query-item *ngIf="this.query | hasProperty: 'Property'"
                                 [propertyQuery]="this.query | getPropertyQuery"></app-property-query-item>
        <app-tag-query-item *ngIf="this.query | hasProperty: 'Tag'"
                            [tagQuery]="this.query | getTagQuery"></app-tag-query-item>
    </app-selectable>
</span>
