#file-search-input {
  width: 100%;
  overflow: hidden;
}

app-file-search {
  display: block;
  width: 100%;
}

#file-tag-list {
  height: 100%;
  overflow-y: auto;
}

.sidebar-inner {
  height: 100%;
  width: 100%;
  display: block;
}
