<div #inner
     (keyDownEvent)="handleKeydownEvent($event)"
     (keyUpEvent)="handleKeyupEvent($event)"
     (window:resize)="this.onResize()"
     appInputReceiver
     class="file-grid-inner">
    <cdk-virtual-scroll-viewport #virtualScrollGrid class="file-scroll" itemSize="260" maxBufferPx="2000"
                                 minBufferPx="500">
        <div *cdkVirtualFor="let rowEntry of partitionedGridEntries; trackBy: trackByFileRowId">
            <div class="file-row">
                <ng-container *ngFor="let gridEntry of rowEntry; trackBy: trackByFileId">
                    <app-file-card
                        (clickEvent)="setSelectedFile($event.entry)"
                        (contextmenu)="this.selectEntryWhenNotSelected(gridEntry); fileContextMenu.onContextMenu($event, this.getSelectedFiles())"
                        (dblClickEvent)="fileOpen.emit($event.entry.data)"
                        *ngIf="gridEntry"
                        [entry]="gridEntry" [fileChanged]="this.fileChanged"></app-file-card>
                    <div *ngIf="!gridEntry" class="empty-grid-entry"></div>
                </ng-container>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>

</div>
<app-file-context-menu #fileContextMenu
                       (fileDeleted)="this.fileDeleted.emit($event)"
                       (fileStatusChange)="this.onFileStatusChange()">
    <button (click)="this.fileOpen.emit(fileContextMenu.files[0])"
            *ngIf="fileContextMenu.files.length === 1"
            content-before=""
            mat-menu-item>Open
    </button>
    <button (click)="this.regenerateThumbnail(fileContextMenu.files)" mat-menu-item>Regenerate thumbnail</button>
</app-file-context-menu>

