<div class="file-gallery-inner">
    <cdk-virtual-scroll-viewport #virtualScrollGrid class="file-scroll" itemSize="250" maxBufferPx="2000"
                                 minBufferPx="500">
        <div *cdkVirtualFor="let rowEntry of partitionedGridEntries">
            <div class="file-row">
                <app-file-card
                    (clickEvent)="setSelectedFile($event.entry)"
                    (contextmenu)="fileContextMenu.onContextMenu($event, gridEntry.data)"
                    (dblClickEvent)="fileOpenEvent.emit($event.entry.data)"
                    *ngFor="let gridEntry of rowEntry"
                    [entry]="gridEntry"></app-file-card>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>

</div>
<app-file-context-menu #fileContextMenu>
    <button (click)="this.fileOpenEvent.emit(fileContextMenu.file)" mat-menu-item content-before>Open</button>
    <button (click)="this.regenerateThumbnail(fileContextMenu.file)" mat-menu-item>Regenerate thumbnail</button>
</app-file-context-menu>
