.full-width {
    width: auto;
    min-width: 100%;
}

.tag-input-list {
    width: calc(100% - 64px);
    height: 2.7em;
    padding: 0.5em 0;
    box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.05) inset;
    overflow-x: auto;
    overflow-y: hidden;
}

.tag-input-list-and-actions {
    position: relative;
    display: block;
    width: 100%;
    height: calc(3em + 10px);
}

#delete-all-tags-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 100%;
    padding: 0;
    font-size: 0.5em;
}

#sort-button {
    width: 100%;
}

::ng-deep #sort-button {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tag-input-list-inner {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    height: 2.2em;
}

.tag-input-item {
    width: auto;
    padding: 0.5em;
    margin: 0 0.5em;
    cursor: pointer;
    white-space: nowrap;
}

.filter-dialog-button {
    position: absolute;
    top: -17px;
    right: -13px;
}


#file-search-input {
    width: 100%;
    overflow: hidden;
}

.sidebar-inner, .search-tab-inner {
    display: block;
    width: 100%;
    height: 100%;
}

.selectable-tag {
    display: flex;
    height: 50px;
    cursor: pointer;
    user-select: none;
    font-size: 1.2em;
    transition-duration: 0.1s;
    width: 100%;

    app-tag-item {
        margin: auto auto auto 0.25em;
    }
}

.selectable-tag:hover {
    background-color: darken(dimgrey, 10);
}

.selectable-tag:active {
    cursor: pointer;
    background-color: darken(dimgrey, 5);
}

cdk-virtual-scroll-viewport {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    ::ng-deep .cdk-virtual-scroll-content-wrapper {
        width: 100%;
    }
}

mat-divider {
    width: 100%;
}

.tag-list-header {
    display: flex;
    flex-direction: column;
    width: 100%;

    h2 {
        margin: auto;
    }
}
