<div #inner
     (keyDownEvent)="handleKeydownEvent($event)"
     (window:resize)="this.onResize()"
     appInputReceiver
     class="gallery-container">
    <button (click)="this.appClose.emit(this)" class="close-button" mat-icon-button>
        <ng-icon name="mat-close"></ng-icon>
    </button>
    <div (dblclick)="this.selectedFile? this.fileDblClick.emit(this.selectedFile.data) : null"
         [class.full-size]="!this.previewStripVisible"
         class="file-full-view">
        <app-content-viewer (contextmenu)="this.selectedFile && fileContextMenu.onContextMenu($event, [this.selectedFile!.data])"
                            *ngIf="this.selectedFile"
                            [file]="this.selectedFile!.data"></app-content-viewer>
        <app-flap-button (appClick)="this.togglePreviewStrip()" align="center" attach="bottom">
            <ng-icon *ngIf="previewStripVisible" name="mat-expand-more"></ng-icon>
            <ng-icon *ngIf="!previewStripVisible" name="mat-expand-less"></ng-icon>
        </app-flap-button>
    </div>
    <div
        class="file-scroll-view">
        <div #previewStripContainer class="file-preview-strip-container">
            <div *ngFor="let entry of this.previewedEntries; trackBy: trackByFileId" class="file-item">
                <app-file-card (clickEvent)="onEntrySelect($event.entry)" *ngIf="entry"
                               [entry]="entry" [fileChanged]="this.fileChanged"></app-file-card>
            </div>
        </div>
    </div>
</div>
<app-file-context-menu #fileContextMenu
                       (fileDeleted)="this.fileDeleted.emit($event)"
                       (fileStatusChange)="this.onFileStatusChange()"></app-file-context-menu>
