@import "src/colors";

.file-scroll-viewport {
    width: 100%;
    height: 100%;
}

::ng-deep .file-scroll-viewport > .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.gallery-container {
    height: 100%;
    width: 100%;
    position: relative;
    user-select: none;
    overflow-y: hidden;
}

.file-full-view {
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
    transition-duration: 1s;

    &.full-size {
        height: 100%;
    }
}

.file-scroll-view {
    transition-duration: 1s;
    height: 20%;

    mat-divider {
        height: 2px;
    }
}

.file-preview-strip-container {
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 2px solid $background-darker-05;

    .file-item {
        width: 100%;
        overflow: hidden;
        height: 100%;

        app-file-card {
            height: 100%;
            width: 100%;
            border-left: 2px solid $background;
            border-radius: 0;
        }
    }

    .file-item:first-child {
        border-left: none;
    }
}

app-content-viewer {
    height: 100%;
    width: 100%;
    display: block;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
    z-index: 999;
}

.url-loading-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;

    mat-progress-spinner {
        margin: auto;
    }
}
