@import "src/colors";

:host {
    height: 100%;
    width: 100%;
}

.repository-name {
    text-align: center;
    align-self: center;
    margin: auto;
}

.button-close-repository {
    float: right
}

.repository-metadata {
    padding: 1em 1em 1em 3em;
    overflow-y: auto;
    user-select: none;
    margin-top: 4em;
    margin-left: 2em;
    display: flex;

    app-metadata-entry {
        margin-bottom: 0.5em;
        display: block;
    }

    .stats-container {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
    }

    .repository-charts {
        margin-top: 4em;
        margin-right: 2em;
        height: calc(100% - 4em);;
        width: 50%;
        display: block;
    }
}

.details-content {
    height: calc(100% - 64px);
    overflow: hidden;
    width: 75%;
    margin: auto;
    background: $background-lighter-05;
}

.size-chart {
    min-height: 50%;
    max-width: 500px;
    margin: auto;
}

.repo-maintenance {
    padding: 2em;
}
