<span *ngIf="this.orExpression" class="or-expression">
    <ng-container *ngFor="let query of this.orExpression">
    <app-property-query-item *ngIf="query | hasProperty: 'Property'"
                             [propertyQuery]="query | getPropertyQuery"></app-property-query-item>
    <app-tag-query-item *ngIf="query | hasProperty: 'Tag'"
                        [tagQuery]="query | getTagQuery"></app-tag-query-item>
        <span class="or-combinator"> OR </span>
    </ng-container>
</span>
<span *ngIf="this.query" class="query">
    <app-property-query-item *ngIf="this.query | hasProperty: 'Property'"
                             [propertyQuery]="this.query | getPropertyQuery"></app-property-query-item>
    <app-tag-query-item *ngIf="this.query | hasProperty: 'Tag'"
                        [tagQuery]="this.query | getTagQuery"></app-tag-query-item>
</span>
