<span *ngIf="is('OrExpression')" class="or-expression">
    <ng-container *ngFor="let query of this.orExpression().OrExpression">
        <app-property-query-item *ngIf="this.queryIs(query, 'Property')"
                                 [propertyQuery]="this.propertyQuery(query).Property"></app-property-query-item>
        <app-tag-query-item *ngIf="this.queryIs(query, 'Tag')"
                            [tagQuery]="this.tagQuery(query).Tag"></app-tag-query-item>
    </ng-container>
</span>
<span *ngIf="is('Query')" class="query">
    <app-property-query-item *ngIf="this.queryIs(this.query().Query, 'Property')"
                             [propertyQuery]="this.propertyQuery(this.query().Query).Property"></app-property-query-item>
    <app-tag-query-item *ngIf="this.queryIs(this.query().Query, 'Tag')"
                        [tagQuery]="this.tagQuery(this.query().Query).Tag"></app-tag-query-item>
</span>
