app-file-grid-entry {
  height: 250px;
  width: 100%;
  padding: 5px;
}

.file-scroll {
  height: 100%;
  width: 100%;
}

.file-gallery-inner {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.file-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
