<div class="tag-input-list-and-actions">
  <div #tagInputList class="tag-input-list">
    <div class="tag-input-list-inner">
      <div (click)="removeFilterExpression(filter)" *ngFor="let filter of filters" class="tag-input-item"
           mat-ripple>{{filter.getDisplayName()}}</div>
    </div>
  </div>
  <button (click)="removeAllSearchTags()" id="delete-all-tags-button" mat-icon-button>
    <mat-icon>delete-sweep</mat-icon>
  </button>
</div>
<app-tag-input class="full-width" [allowNegation]="true" [availableTags]="getValidSearchTags()" (tagAdded)="addSearchTag($event); searchForFiles()">
  <button mat-button class="filter-dialog-button" (click)="openFilterDialog()">
    <mat-icon>filter_alt</mat-icon>
  </button>
</app-tag-input>
<button (click)="openSortDialog()" id="sort-button" mat-flat-button>Sort: {{sortExpression.join(", ")}}</button>
