<div (click)="onSelect()" *ngIf="expression.data.filter_type === 'Query'">
    {{expression.data.getDisplayName()}}
    <button (click)="this.removeClicked.emit(this)" class="remove-button" mat-button>
        <ng-icon name="mat-remove"></ng-icon>
    </button>
</div>
<div *ngIf="expression.data.filter_type === 'OrExpression'">
    <mat-list>
        <mat-list-item (mousedown)="$event.button === 0 && this.selectInnerIndex(entry[0])"
                       *ngFor="let entry of enumerate(this.expression.data.queryList())"
                       [class.selected]="this.selectedIndices.includes(entry[0])"
                       class="or-filter-list-item">
            <span *ngIf="entry[0] > 0" class="or-span">OR</span>
            {{entry[1].getNormalizedTag()}}
            <button (mousedown)="$event.button === 0 && this.removeOrExpression(entry[0])"
                    class="remove-button-inner-list"
                    mat-button>
                <ng-icon name="mat-remove"></ng-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>
