<div id="content">
  <mat-toolbar color="primary">
    <h1>Files</h1>
  </mat-toolbar>
  <mat-drawer-container>
    <mat-drawer mode="side" opened>
      <div class="drawer-sidebar-inner">
      <mat-form-field id="tag-search" appearance="fill">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of searchTags" (removed)="removeSearchTag(tag)" [removable]="true">
            {{tag}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
        <input matInput
               [matChipInputFor]="chipList"
               [matChipInputAddOnBlur]="true"
               [matChipInputSeparatorKeyCodes]="searchInputSeparators"
               (matChipInputTokenEnd)="addSearchTag($event)"/>
      </mat-form-field>

      <div id="file-tag-list">
        <h1>Selection Tags</h1>
        <mat-selection-list [multiple]="false" *ngIf="tags.length > 0" (selectionChange)="addSearchTagFromList($event)">
          <mat-list-option
            *ngFor="let tag of tags" [value]="tag.getNormalizedOutput()">{{tag.getNormalizedOutput()}}</mat-list-option>
        </mat-selection-list>
      </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <app-file-grid (fileDblClickEvent)="openFile($event)" [files]="files"
                     (fileSelectEvent)="onFileSelect($event)"
                     (fileMultiselectEvent)="onFileMultiSelect($event)"
      ></app-file-grid>
    </mat-drawer-content>
  </mat-drawer-container>

</div>
