#content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden
}

#file-tag-list {
  height: calc(100% - 8em);
  overflow: auto;
}

.drawer-sidebar-inner {
  height: 100%;
  width: 100%;
  display: block;
}

mat-drawer {
  height: 100%;
  width: 25%;
  overflow: hidden;
}

mat-drawer-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

mat-drawer-container {
  height: calc(100% - 64px);
}

app-file-grid {
  padding: 0;
}
