#content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden
}

mat-drawer {
  height: 100%;
}

mat-drawer-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

mat-drawer-container {
  height: 100%;
}

app-file-grid {
  padding: 1em;
}
