.image-container {
  height: 100%;
  width: 100%;
  display: flex;
}

img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

img.scale-height {
  height: 100%;
}

img.scale-width {
  width: 100%;
}
