<mat-card #card (click)="clickEvent.emit(file)" (dblclick)="dblClickEvent.emit(file)">
  <mat-card-title *ngIf="!!file?.name">{{file?.name}}</mat-card-title>
  <mat-card-content *ngIf="contentUrl !== undefined">
    <img *ngIf="contentUrl !== undefined" class="entry-image" loading="lazy" decoding="async" [src]="contentUrl" alt="File Image">
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar *ngIf="contentUrl === undefined" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
